body {
    background-color: #d9dcd6;
}

.texto-ciudad {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #d9dcd6;
}

.images {
    background-color: #16425b;
}

.vTop {
    margin-left: 32px;
    padding-top: 16px;
}

.av {
    background-color: #81c3d7;
}

.seleccionado {
    background-color: #3a7ca5;
}

a {
    text-decoration: none;
    color: black;
}

.texto {
    overflow: hidden;
    width: 100%;
}